
@{
    ViewData["Title"] = "NewReturnComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Poprawnie zgłoszono zwrot towaru. Spakuj przesyłkę i czekaj na maila z naszej strony, poinformujemy Cię o tym , że kurier został zamówiony po odbiór przesyłki.</h1>

